/* Boiler Plate */
$word-list: a o sama pi anu mi sina anpa awen kepeken lape lon lukin nasa open sin akesi ala ale ali ante ijo ike ilo insa jaki jan jo kala kalama kama kasi ken kili kiwen kule kute kulupu lawa len lete li lili linja lipu luka lupa ma mama mani meli mije moku moli monsi mun musi mute nanpa nasin nena ni nimi noka oko olin ona pakala pali palisa pana pilin pimeja pini pipi poki poka pona seli selo seme sewi sijelo sike sinpin sitelen sona soweli suli suno supa suwi tan tawa telo tenpo toki tomo tu unpa uta utala walo wan waso wawa weka wile;
$mod-list: lili mute kon sin;
$narrow-list: wan tu;
$syl-list: o a e i;

#tokiInput {
  margin: 1em;
  width: 50em;
  font-size: 1em;
}

#sitelen {
  font-size: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

/* ----- */

.toki-sentence {
  margin: 1em;
  width: 10em;
}

.toki-container {
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.toki-sentence > .toki-container:first-child > * {
  font-size: 1em;
}

.toki-sentence > .toki-container:nth-child(1) {
  z-index: 10;
}

.toki-sentence > .toki-container:nth-child(2) {
  z-index: 9;
}

.toki-sentence > .toki-container:nth-child(3) {
  z-index: 8;
}

.toki-sentence > .toki-container:nth-child(4) {
  z-index: 7;
}

.toki-sentence > .toki-container:nth-child(5) {
  z-index: 6;
}

.toki-sentence > .toki-container:nth-child(6) {
  z-index: 5;
}

.toki-sentence > .toki-container:nth-child(7) {
  z-index: 4;
}

.toki-container[data-toki-size="regular"] {

  flex-direction: row;

  & > * {
    width: 1em;
    height: 1em;
  }

  .toki-container[data-toki-size="wide"][data-toki-children="3"] > & > * {
    height: 2/3*1em;
    flex: 0 0 2/3*1em;
  }
}

.toki-container[data-toki-size="wide"] {
  flex-direction: row;
  height: 1em;
  width: 2em;

  & > * {
    flex: 0 0 1em;
    height: 1em;
  }

  @each $current-word in $narrow-list {
    & > [data-toki-word="#{$current-word}"] {
      flex: 0 0 0.5em;
    }
  }

  &[data-toki-children="3"] {
    & > * {
      flex: 0 0 2 / 3 * 1em;
      height: 2 / 3 * 1em;
    }

    @each $current-word in $narrow-list {
      & > [data-toki-word="#{$current-word}"] {
        flex: 0 0 2 /3 * 0.5em;
      }
    }
  }
}

.toki-container[data-toki-size="tall"] {
  flex-direction: column;
  flex: 0 0 2em !important; // TODO improve how to handle this!
  width: 1em;
  height: 2em;

  &[data-toki-children="1"] {
    & > .toki-word {
      flex: 0 0 1em;
      width: 1em;
    }
  }

  &[data-toki-children="2"] {
    & > .toki-word {
      flex: 0 0 1em;
      width: 1em;
    }
  }

  &[data-toki-children="3"] {
    & > .toki-word {
      flex: 0 0 2/3*1em;
      width: 2/3*1em;
    }
  }
}

.toki-container[data-toki-size="double"] {
  flex-direction: column;
  height: 2em;
  width: 2em;

  & > * {
    flex: 0 0 1em;
    width: 1em;
  }

  &[data-toki-children="3"] {
    @each $current-word in $narrow-list {
      & > [data-toki-word="#{$current-word}"] {
        flex: 0 0 2em;
        width: 1em;
      }
    }
  }

  &[data-toki-children="4"] {
    @each $current-word in $narrow-list {
      & > [data-toki-word="#{$current-word}"] {
        width: 0.5em;

        &::before {
          transform: rotate(-45deg);
        }

      }
    }
  }

  &[data-toki-children="5"] {
    & > * {
      flex: 0 0 1/3*1em;
      width: 1em;
    }
  }

  &[data-toki-children="6"] {
    & > * {
      flex: 1 1 1/3*1em;
      width: 1em;
    }
  }

  &[data-toki-children="7"],
  &[data-toki-children="8"],
  &[data-toki-children="9"] {
    & > * {
      flex: 1 1 1/3*1em;
      width: 1/3*1em;
    }
  }
}

.toki-word {
  position: relative;
  font-size: 0.875em;

  &::before {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    position: absolute;
    padding: 0.1em;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
  }

  @each $current-word in $word-list {
    &[data-toki-word="#{$current-word}"]::before {
      background-image: url(../images/glyphs/tp-wg-#{$current-word}.svg);
    }
  }

  @each $current-syl in $syl-list {
    &[data-toki-syl="#{$current-syl}"]::before {
      background-image: url(../images/glyphs/tp-syl-#{$current-syl}.svg);
    }
  }

  &[data-toki-mod]::after {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    position: absolute;
    padding: 0.1em;
    bottom: -0.2em;
    height: 40%;
    width: 100%;
    content: '';
    left: 0;
  }

  @each $current-word in $mod-list {
    &[data-toki-mod="#{$current-word}"]::after {
      background-image: url(../images/glyphs/tp-wg-#{$current-word}.svg);
    }
  }
}

.toki-punctuation {
  position: relative;
  width: 2em;
  height: 0.35em;

  &::before {
    background-size: 100% 100%;
    margin: -0.25em 0 0 -0.25em;
    position: absolute;
    padding: 0.25em;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -2;
    left: 0;
    top: 0;
  }

  &[data-toki-size="wide"][data-toki-glyph="period"]::before {
    background-image: url(../images/glyphs/tp-p-period-wide.svg);
  }
}

.toki-container {
  &[data-toki-glyph]::before {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    z-index: -1;
    position: absolute;
    padding: 0.1em;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
  }

  &[data-toki-size="regular"]::before {
    margin: -0.15em 0 0 -0.15em;
    padding: 0.15em;
  }

  &[data-toki-size="wide"]::before {
    margin: -0.15em 0 0 -0.15em;
    padding: 0.15em;
  }

  &[data-toki-size="double"]::before {
    margin: -0.15em 0 0 -0.15em;
    padding: 0.15em;
  }

  &:not([data-toki-glyph])[data-toki-size="wide"][data-toki-children="3"] {
    height: 2/3*1em;
  }

  &[data-toki-size="regular"][data-toki-glyph="li"]::before {
    background-image: url(../images/glyphs/tp-wg-li.svg);
  }

  &[data-toki-size="wide"][data-toki-glyph="li"] {
    margin: 0.15em 0 0.1em;

    & + .toki-punctuation {
      margin-top: -0.05em;
    }

    &::before {
      background-image: url(../images/glyphs/tp-wg-li-wide.svg);
    }
  }

  &[data-toki-size="regular"][data-toki-glyph="tawa"]::before {
    background-image: url(../images/glyphs/tp-wg-tawa.svg);
  }

  &[data-toki-size="wide"][data-toki-glyph="tawa"] {
    margin: 0.15em 0 0.1em 0.1em;
    justify-content: flex-start;

    &::before {
      margin: -0.15em -0.25em 0 -0.25em;
      padding: 0.15em;
    }

    & > * {
      font-size: 0.8em;
    }

    &[data-toki-children="1"] {
      justify-content: center;
      margin: 0.15em 0 0.1em;

      &::before {
        margin: -0.15em 0 0 -0.15em;
      }
    }

    & + .toki-punctuation {
      margin-top: -0.05em;
    }

    &::before {
      background-image: url(../images/glyphs/tp-c-tawa-wide.svg);
      padding-right: 0.5em;
    }
  }

  &[data-toki-size="regular"][data-toki-glyph="e"] {
    justify-content: flex-start;

    & > * {
      font-size: 0.55em;
    }

    &::before {
      background-image: url(../images/glyphs/tp-wg-e.svg);
    }
  }

  &[data-toki-size="wide"][data-toki-glyph="e"] {
    margin: 0.15em 0 0.1em -0.1em;

    &::before {
      margin: -0.15em 0.05em 0 -0.05em;
      padding: 0.15em;
    }

    & > * {
      font-size: 0.8em;
    }

    .toki-container:not([data-toki-glyph]) + & {
      margin-top: 0.15em;
    }

    &[data-toki-children="1"] {
      justify-content: center;
    }

    & + .toki-punctuation {
      margin-top: -0.05em;
    }

    &::before {
      background-image: url(../images/glyphs/tp-c-e-wide.svg);
    }
  }

  &[data-toki-size="double"][data-toki-glyph="e"] {
    margin: 0.15em 0 0.1em -0.1em;
    align-items: flex-start;

    .toki-container:not([data-toki-glyph]) + & {
      margin-top: 0.15em;
    }

    &::before {
      margin: -0.15em 0.05em 0 -0.05em;
      padding: 0.15em;
    }

    & > * {
      font-size: 0.8em;
    }

    &[data-toki-children="1"] {
      justify-content: center;
    }

    & + .toki-punctuation {
      margin-top: -0.05em;
    }

    &::before {
      background-image: url(../images/glyphs/tp-c-e-double.svg);
    }
  }

  // PI

  &[data-toki-size="tall"][data-toki-glyph="pi"] {

    &::before {
      margin: -0.1em 0 0 -1.15em;
    }

    & > * {
      font-size: 0.75em;
    }

    &::before {
      background-image: url(../images/glyphs/tp-c-pi-tall.svg);
      padding-right: 1.1em;
    }
  }

}

.toki-nounphrase {
  position: absolute;

  & > [data-toki-word] {
    position: absolute;

    &::before {
      background-size: 100% 100%;
      margin: -10% 0 0 -10%;
      position: absolute;
      padding: 10%;
      height: 100%;
      width: 100%;
      content: '';
      left: 0;
      top: 0;
    }

    @each $current-word in $word-list {
      &[data-toki-word="#{$current-word}"]::before {
        background-image: url(../images/glyphs/tp-wg-#{$current-word}.svg);
      }
    }
  }
}

