/* Boiler Plate */
#tokiInput {
  margin: 1em;
  width: 50em;
  font-size: 1em; }

#sitelen {
  font-size: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%; }

/* ----- */
.toki-sentence {
  margin: 1em;
  width: 2em; }

.toki-container {
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap; }

.toki-sentence > .toki-container:first-child > * {
  font-size: 1em; }

.toki-sentence > .toki-container:nth-child(1) {
  z-index: 10; }

.toki-sentence > .toki-container:nth-child(2) {
  z-index: 9; }

.toki-sentence > .toki-container:nth-child(3) {
  z-index: 8; }

.toki-sentence > .toki-container:nth-child(4) {
  z-index: 7; }

.toki-sentence > .toki-container:nth-child(5) {
  z-index: 6; }

.toki-sentence > .toki-container:nth-child(6) {
  z-index: 5; }

.toki-sentence > .toki-container:nth-child(7) {
  z-index: 4; }

.toki-container[data-toki-size="regular"] {
  flex-direction: row; }
  .toki-container[data-toki-size="regular"] > * {
    width: 1em;
    height: 1em; }
  .toki-container[data-toki-size="wide"][data-toki-children="3"] > .toki-container[data-toki-size="regular"] > * {
    height: 0.66667em;
    flex: 0 0 0.66667em; }

.toki-container[data-toki-size="wide"] {
  flex-direction: row;
  height: 1em;
  width: 2em; }
  .toki-container[data-toki-size="wide"] > * {
    flex: 0 0 1em;
    height: 1em; }
  .toki-container[data-toki-size="wide"] > [data-toki-word="wan"] {
    flex: 0 0 0.5em; }
  .toki-container[data-toki-size="wide"] > [data-toki-word="tu"] {
    flex: 0 0 0.5em; }
  .toki-container[data-toki-size="wide"][data-toki-children="3"] > * {
    flex: 0 0 0.66667em;
    height: 0.66667em; }
  .toki-container[data-toki-size="wide"][data-toki-children="3"] > [data-toki-word="wan"] {
    flex: 0 0 0.33333em; }
  .toki-container[data-toki-size="wide"][data-toki-children="3"] > [data-toki-word="tu"] {
    flex: 0 0 0.33333em; }

.toki-container[data-toki-size="tall"] {
  flex-direction: column;
  flex: 0 0 2em !important;
  width: 1em;
  height: 2em; }
  .toki-container[data-toki-size="tall"][data-toki-children="1"] > .toki-word {
    flex: 0 0 1em;
    width: 1em; }
  .toki-container[data-toki-size="tall"][data-toki-children="2"] > .toki-word {
    flex: 0 0 1em;
    width: 1em; }
  .toki-container[data-toki-size="tall"][data-toki-children="3"] > .toki-word {
    flex: 0 0 0.66667em;
    width: 0.66667em; }

.toki-container[data-toki-size="double"] {
  flex-direction: column;
  height: 2em;
  width: 2em; }
  .toki-container[data-toki-size="double"] > * {
    flex: 0 0 1em;
    width: 1em; }
  .toki-container[data-toki-size="double"][data-toki-children="3"] > [data-toki-word="wan"] {
    flex: 0 0 2em;
    width: 1em; }
  .toki-container[data-toki-size="double"][data-toki-children="3"] > [data-toki-word="tu"] {
    flex: 0 0 2em;
    width: 1em; }
  .toki-container[data-toki-size="double"][data-toki-children="4"] > [data-toki-word="wan"] {
    width: 0.5em; }
    .toki-container[data-toki-size="double"][data-toki-children="4"] > [data-toki-word="wan"]::before {
      transform: rotate(-45deg); }
  .toki-container[data-toki-size="double"][data-toki-children="4"] > [data-toki-word="tu"] {
    width: 0.5em; }
    .toki-container[data-toki-size="double"][data-toki-children="4"] > [data-toki-word="tu"]::before {
      transform: rotate(-45deg); }
  .toki-container[data-toki-size="double"][data-toki-children="5"] > * {
    flex: 0 0 0.33333em;
    width: 1em; }
  .toki-container[data-toki-size="double"][data-toki-children="6"] > * {
    flex: 1 1 0.33333em;
    width: 1em; }
  .toki-container[data-toki-size="double"][data-toki-children="7"] > *, .toki-container[data-toki-size="double"][data-toki-children="8"] > *, .toki-container[data-toki-size="double"][data-toki-children="9"] > * {
    flex: 1 1 0.33333em;
    width: 0.33333em; }

.toki-word {
  position: relative;
  font-size: 0.875em; }
  .toki-word::before {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    position: absolute;
    padding: 0.1em;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0; }
  .toki-word[data-toki-word="a"]::before {
    background-image: url(../images/glyphs/tp-wg-a.svg); }
  .toki-word[data-toki-word="o"]::before {
    background-image: url(../images/glyphs/tp-wg-o.svg); }
  .toki-word[data-toki-word="sama"]::before {
    background-image: url(../images/glyphs/tp-wg-sama.svg); }
  .toki-word[data-toki-word="pi"]::before {
    background-image: url(../images/glyphs/tp-wg-pi.svg); }
  .toki-word[data-toki-word="anu"]::before {
    background-image: url(../images/glyphs/tp-wg-anu.svg); }
  .toki-word[data-toki-word="mi"]::before {
    background-image: url(../images/glyphs/tp-wg-mi.svg); }
  .toki-word[data-toki-word="sina"]::before {
    background-image: url(../images/glyphs/tp-wg-sina.svg); }
  .toki-word[data-toki-word="anpa"]::before {
    background-image: url(../images/glyphs/tp-wg-anpa.svg); }
  .toki-word[data-toki-word="awen"]::before {
    background-image: url(../images/glyphs/tp-wg-awen.svg); }
  .toki-word[data-toki-word="kepeken"]::before {
    background-image: url(../images/glyphs/tp-wg-kepeken.svg); }
  .toki-word[data-toki-word="lape"]::before {
    background-image: url(../images/glyphs/tp-wg-lape.svg); }
  .toki-word[data-toki-word="lon"]::before {
    background-image: url(../images/glyphs/tp-wg-lon.svg); }
  .toki-word[data-toki-word="lukin"]::before {
    background-image: url(../images/glyphs/tp-wg-lukin.svg); }
  .toki-word[data-toki-word="nasa"]::before {
    background-image: url(../images/glyphs/tp-wg-nasa.svg); }
  .toki-word[data-toki-word="open"]::before {
    background-image: url(../images/glyphs/tp-wg-open.svg); }
  .toki-word[data-toki-word="sin"]::before {
    background-image: url(../images/glyphs/tp-wg-sin.svg); }
  .toki-word[data-toki-word="akesi"]::before {
    background-image: url(../images/glyphs/tp-wg-akesi.svg); }
  .toki-word[data-toki-word="ala"]::before {
    background-image: url(../images/glyphs/tp-wg-ala.svg); }
  .toki-word[data-toki-word="ale"]::before {
    background-image: url(../images/glyphs/tp-wg-ale.svg); }
  .toki-word[data-toki-word="ali"]::before {
    background-image: url(../images/glyphs/tp-wg-ali.svg); }
  .toki-word[data-toki-word="ante"]::before {
    background-image: url(../images/glyphs/tp-wg-ante.svg); }
  .toki-word[data-toki-word="ijo"]::before {
    background-image: url(../images/glyphs/tp-wg-ijo.svg); }
  .toki-word[data-toki-word="ike"]::before {
    background-image: url(../images/glyphs/tp-wg-ike.svg); }
  .toki-word[data-toki-word="ilo"]::before {
    background-image: url(../images/glyphs/tp-wg-ilo.svg); }
  .toki-word[data-toki-word="insa"]::before {
    background-image: url(../images/glyphs/tp-wg-insa.svg); }
  .toki-word[data-toki-word="jaki"]::before {
    background-image: url(../images/glyphs/tp-wg-jaki.svg); }
  .toki-word[data-toki-word="jan"]::before {
    background-image: url(../images/glyphs/tp-wg-jan.svg); }
  .toki-word[data-toki-word="jo"]::before {
    background-image: url(../images/glyphs/tp-wg-jo.svg); }
  .toki-word[data-toki-word="kala"]::before {
    background-image: url(../images/glyphs/tp-wg-kala.svg); }
  .toki-word[data-toki-word="kalama"]::before {
    background-image: url(../images/glyphs/tp-wg-kalama.svg); }
  .toki-word[data-toki-word="kama"]::before {
    background-image: url(../images/glyphs/tp-wg-kama.svg); }
  .toki-word[data-toki-word="kasi"]::before {
    background-image: url(../images/glyphs/tp-wg-kasi.svg); }
  .toki-word[data-toki-word="ken"]::before {
    background-image: url(../images/glyphs/tp-wg-ken.svg); }
  .toki-word[data-toki-word="kili"]::before {
    background-image: url(../images/glyphs/tp-wg-kili.svg); }
  .toki-word[data-toki-word="kiwen"]::before {
    background-image: url(../images/glyphs/tp-wg-kiwen.svg); }
  .toki-word[data-toki-word="kule"]::before {
    background-image: url(../images/glyphs/tp-wg-kule.svg); }
  .toki-word[data-toki-word="kute"]::before {
    background-image: url(../images/glyphs/tp-wg-kute.svg); }
  .toki-word[data-toki-word="kulupu"]::before {
    background-image: url(../images/glyphs/tp-wg-kulupu.svg); }
  .toki-word[data-toki-word="lawa"]::before {
    background-image: url(../images/glyphs/tp-wg-lawa.svg); }
  .toki-word[data-toki-word="len"]::before {
    background-image: url(../images/glyphs/tp-wg-len.svg); }
  .toki-word[data-toki-word="lete"]::before {
    background-image: url(../images/glyphs/tp-wg-lete.svg); }
  .toki-word[data-toki-word="li"]::before {
    background-image: url(../images/glyphs/tp-wg-li.svg); }
  .toki-word[data-toki-word="lili"]::before {
    background-image: url(../images/glyphs/tp-wg-lili.svg); }
  .toki-word[data-toki-word="linja"]::before {
    background-image: url(../images/glyphs/tp-wg-linja.svg); }
  .toki-word[data-toki-word="lipu"]::before {
    background-image: url(../images/glyphs/tp-wg-lipu.svg); }
  .toki-word[data-toki-word="luka"]::before {
    background-image: url(../images/glyphs/tp-wg-luka.svg); }
  .toki-word[data-toki-word="lupa"]::before {
    background-image: url(../images/glyphs/tp-wg-lupa.svg); }
  .toki-word[data-toki-word="ma"]::before {
    background-image: url(../images/glyphs/tp-wg-ma.svg); }
  .toki-word[data-toki-word="mama"]::before {
    background-image: url(../images/glyphs/tp-wg-mama.svg); }
  .toki-word[data-toki-word="mani"]::before {
    background-image: url(../images/glyphs/tp-wg-mani.svg); }
  .toki-word[data-toki-word="meli"]::before {
    background-image: url(../images/glyphs/tp-wg-meli.svg); }
  .toki-word[data-toki-word="mije"]::before {
    background-image: url(../images/glyphs/tp-wg-mije.svg); }
  .toki-word[data-toki-word="moku"]::before {
    background-image: url(../images/glyphs/tp-wg-moku.svg); }
  .toki-word[data-toki-word="moli"]::before {
    background-image: url(../images/glyphs/tp-wg-moli.svg); }
  .toki-word[data-toki-word="monsi"]::before {
    background-image: url(../images/glyphs/tp-wg-monsi.svg); }
  .toki-word[data-toki-word="mun"]::before {
    background-image: url(../images/glyphs/tp-wg-mun.svg); }
  .toki-word[data-toki-word="musi"]::before {
    background-image: url(../images/glyphs/tp-wg-musi.svg); }
  .toki-word[data-toki-word="mute"]::before {
    background-image: url(../images/glyphs/tp-wg-mute.svg); }
  .toki-word[data-toki-word="nanpa"]::before {
    background-image: url(../images/glyphs/tp-wg-nanpa.svg); }
  .toki-word[data-toki-word="nasin"]::before {
    background-image: url(../images/glyphs/tp-wg-nasin.svg); }
  .toki-word[data-toki-word="nena"]::before {
    background-image: url(../images/glyphs/tp-wg-nena.svg); }
  .toki-word[data-toki-word="ni"]::before {
    background-image: url(../images/glyphs/tp-wg-ni.svg); }
  .toki-word[data-toki-word="nimi"]::before {
    background-image: url(../images/glyphs/tp-wg-nimi.svg); }
  .toki-word[data-toki-word="noka"]::before {
    background-image: url(../images/glyphs/tp-wg-noka.svg); }
  .toki-word[data-toki-word="oko"]::before {
    background-image: url(../images/glyphs/tp-wg-oko.svg); }
  .toki-word[data-toki-word="olin"]::before {
    background-image: url(../images/glyphs/tp-wg-olin.svg); }
  .toki-word[data-toki-word="ona"]::before {
    background-image: url(../images/glyphs/tp-wg-ona.svg); }
  .toki-word[data-toki-word="pakala"]::before {
    background-image: url(../images/glyphs/tp-wg-pakala.svg); }
  .toki-word[data-toki-word="pali"]::before {
    background-image: url(../images/glyphs/tp-wg-pali.svg); }
  .toki-word[data-toki-word="palisa"]::before {
    background-image: url(../images/glyphs/tp-wg-palisa.svg); }
  .toki-word[data-toki-word="pana"]::before {
    background-image: url(../images/glyphs/tp-wg-pana.svg); }
  .toki-word[data-toki-word="pilin"]::before {
    background-image: url(../images/glyphs/tp-wg-pilin.svg); }
  .toki-word[data-toki-word="pimeja"]::before {
    background-image: url(../images/glyphs/tp-wg-pimeja.svg); }
  .toki-word[data-toki-word="pini"]::before {
    background-image: url(../images/glyphs/tp-wg-pini.svg); }
  .toki-word[data-toki-word="pipi"]::before {
    background-image: url(../images/glyphs/tp-wg-pipi.svg); }
  .toki-word[data-toki-word="poki"]::before {
    background-image: url(../images/glyphs/tp-wg-poki.svg); }
  .toki-word[data-toki-word="poka"]::before {
    background-image: url(../images/glyphs/tp-wg-poka.svg); }
  .toki-word[data-toki-word="pona"]::before {
    background-image: url(../images/glyphs/tp-wg-pona.svg); }
  .toki-word[data-toki-word="seli"]::before {
    background-image: url(../images/glyphs/tp-wg-seli.svg); }
  .toki-word[data-toki-word="selo"]::before {
    background-image: url(../images/glyphs/tp-wg-selo.svg); }
  .toki-word[data-toki-word="seme"]::before {
    background-image: url(../images/glyphs/tp-wg-seme.svg); }
  .toki-word[data-toki-word="sewi"]::before {
    background-image: url(../images/glyphs/tp-wg-sewi.svg); }
  .toki-word[data-toki-word="sijelo"]::before {
    background-image: url(../images/glyphs/tp-wg-sijelo.svg); }
  .toki-word[data-toki-word="sike"]::before {
    background-image: url(../images/glyphs/tp-wg-sike.svg); }
  .toki-word[data-toki-word="sinpin"]::before {
    background-image: url(../images/glyphs/tp-wg-sinpin.svg); }
  .toki-word[data-toki-word="sitelen"]::before {
    background-image: url(../images/glyphs/tp-wg-sitelen.svg); }
  .toki-word[data-toki-word="sona"]::before {
    background-image: url(../images/glyphs/tp-wg-sona.svg); }
  .toki-word[data-toki-word="soweli"]::before {
    background-image: url(../images/glyphs/tp-wg-soweli.svg); }
  .toki-word[data-toki-word="suli"]::before {
    background-image: url(../images/glyphs/tp-wg-suli.svg); }
  .toki-word[data-toki-word="suno"]::before {
    background-image: url(../images/glyphs/tp-wg-suno.svg); }
  .toki-word[data-toki-word="supa"]::before {
    background-image: url(../images/glyphs/tp-wg-supa.svg); }
  .toki-word[data-toki-word="suwi"]::before {
    background-image: url(../images/glyphs/tp-wg-suwi.svg); }
  .toki-word[data-toki-word="tan"]::before {
    background-image: url(../images/glyphs/tp-wg-tan.svg); }
  .toki-word[data-toki-word="tawa"]::before {
    background-image: url(../images/glyphs/tp-wg-tawa.svg); }
  .toki-word[data-toki-word="telo"]::before {
    background-image: url(../images/glyphs/tp-wg-telo.svg); }
  .toki-word[data-toki-word="tenpo"]::before {
    background-image: url(../images/glyphs/tp-wg-tenpo.svg); }
  .toki-word[data-toki-word="toki"]::before {
    background-image: url(../images/glyphs/tp-wg-toki.svg); }
  .toki-word[data-toki-word="tomo"]::before {
    background-image: url(../images/glyphs/tp-wg-tomo.svg); }
  .toki-word[data-toki-word="tu"]::before {
    background-image: url(../images/glyphs/tp-wg-tu.svg); }
  .toki-word[data-toki-word="unpa"]::before {
    background-image: url(../images/glyphs/tp-wg-unpa.svg); }
  .toki-word[data-toki-word="uta"]::before {
    background-image: url(../images/glyphs/tp-wg-uta.svg); }
  .toki-word[data-toki-word="utala"]::before {
    background-image: url(../images/glyphs/tp-wg-utala.svg); }
  .toki-word[data-toki-word="walo"]::before {
    background-image: url(../images/glyphs/tp-wg-walo.svg); }
  .toki-word[data-toki-word="wan"]::before {
    background-image: url(../images/glyphs/tp-wg-wan.svg); }
  .toki-word[data-toki-word="waso"]::before {
    background-image: url(../images/glyphs/tp-wg-waso.svg); }
  .toki-word[data-toki-word="wawa"]::before {
    background-image: url(../images/glyphs/tp-wg-wawa.svg); }
  .toki-word[data-toki-word="weka"]::before {
    background-image: url(../images/glyphs/tp-wg-weka.svg); }
  .toki-word[data-toki-word="wile"]::before {
    background-image: url(../images/glyphs/tp-wg-wile.svg); }
  .toki-word[data-toki-syl="o"]::before {
    background-image: url(../images/glyphs/tp-syl-o.svg); }
  .toki-word[data-toki-syl="a"]::before {
    background-image: url(../images/glyphs/tp-syl-a.svg); }
  .toki-word[data-toki-syl="e"]::before {
    background-image: url(../images/glyphs/tp-syl-e.svg); }
  .toki-word[data-toki-syl="i"]::before {
    background-image: url(../images/glyphs/tp-syl-i.svg); }
  .toki-word[data-toki-mod]::after {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    position: absolute;
    padding: 0.1em;
    bottom: -0.2em;
    height: 40%;
    width: 100%;
    content: '';
    left: 0; }
  .toki-word[data-toki-mod="lili"]::after {
    background-image: url(../images/glyphs/tp-wg-lili.svg); }
  .toki-word[data-toki-mod="mute"]::after {
    background-image: url(../images/glyphs/tp-wg-mute.svg); }
  .toki-word[data-toki-mod="kon"]::after {
    background-image: url(../images/glyphs/tp-wg-kon.svg); }
  .toki-word[data-toki-mod="sin"]::after {
    background-image: url(../images/glyphs/tp-wg-sin.svg); }

.toki-punctuation {
  position: relative;
  width: 2em;
  height: 0.35em; }
  .toki-punctuation::before {
    background-size: 100% 100%;
    margin: -0.25em 0 0 -0.25em;
    position: absolute;
    padding: 0.25em;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -2;
    left: 0;
    top: 0; }
  .toki-punctuation[data-toki-size="wide"][data-toki-glyph="period"]::before {
    background-image: url(../images/glyphs/tp-p-period-wide.svg); }

.toki-container[data-toki-glyph]::before {
  background-size: 100% 100%;
  margin: -0.1em 0 0 -0.1em;
  z-index: -1;
  position: absolute;
  padding: 0.1em;
  height: 100%;
  width: 100%;
  content: '';
  left: 0;
  top: 0; }
.toki-container[data-toki-size="regular"]::before {
  margin: -0.15em 0 0 -0.15em;
  padding: 0.15em; }
.toki-container[data-toki-size="wide"]::before {
  margin: -0.15em 0 0 -0.15em;
  padding: 0.15em; }
.toki-container[data-toki-size="double"]::before {
  margin: -0.15em 0 0 -0.15em;
  padding: 0.15em; }
.toki-container:not([data-toki-glyph])[data-toki-size="wide"][data-toki-children="3"] {
  height: 0.66667em; }
.toki-container[data-toki-size="regular"][data-toki-glyph="li"]::before {
  background-image: url(../images/glyphs/tp-wg-li.svg); }
.toki-container[data-toki-size="wide"][data-toki-glyph="li"] {
  margin: 0.15em 0 0.1em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="li"] + .toki-punctuation {
    margin-top: -0.05em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="li"]::before {
    background-image: url(../images/glyphs/tp-wg-li-wide.svg); }
.toki-container[data-toki-size="regular"][data-toki-glyph="tawa"]::before {
  background-image: url(../images/glyphs/tp-wg-tawa.svg); }
.toki-container[data-toki-size="wide"][data-toki-glyph="tawa"] {
  margin: 0.15em 0 0.1em 0.1em;
  justify-content: flex-start; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="tawa"]::before {
    margin: -0.15em -0.25em 0 -0.25em;
    padding: 0.15em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="tawa"] > * {
    font-size: 0.8em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="tawa"][data-toki-children="1"] {
    justify-content: center;
    margin: 0.15em 0 0.1em; }
    .toki-container[data-toki-size="wide"][data-toki-glyph="tawa"][data-toki-children="1"]::before {
      margin: -0.15em 0 0 -0.15em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="tawa"] + .toki-punctuation {
    margin-top: -0.05em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="tawa"]::before {
    background-image: url(../images/glyphs/tp-c-tawa-wide.svg);
    padding-right: 0.5em; }
.toki-container[data-toki-size="regular"][data-toki-glyph="e"] {
  justify-content: flex-start; }
  .toki-container[data-toki-size="regular"][data-toki-glyph="e"] > * {
    font-size: 0.55em; }
  .toki-container[data-toki-size="regular"][data-toki-glyph="e"]::before {
    background-image: url(../images/glyphs/tp-wg-e.svg); }
.toki-container[data-toki-size="wide"][data-toki-glyph="e"] {
  margin: 0.15em 0 0.1em -0.1em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="e"]::before {
    margin: -0.15em 0.05em 0 -0.05em;
    padding: 0.15em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="e"] > * {
    font-size: 0.8em; }
  .toki-container:not([data-toki-glyph]) + .toki-container[data-toki-size="wide"][data-toki-glyph="e"] {
    margin-top: 0.15em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="e"][data-toki-children="1"] {
    justify-content: center; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="e"] + .toki-punctuation {
    margin-top: -0.05em; }
  .toki-container[data-toki-size="wide"][data-toki-glyph="e"]::before {
    background-image: url(../images/glyphs/tp-c-e-wide.svg); }
.toki-container[data-toki-size="double"][data-toki-glyph="e"] {
  margin: 0.15em 0 0.1em -0.1em;
  align-items: flex-start; }
  .toki-container:not([data-toki-glyph]) + .toki-container[data-toki-size="double"][data-toki-glyph="e"] {
    margin-top: 0.15em; }
  .toki-container[data-toki-size="double"][data-toki-glyph="e"]::before {
    margin: -0.15em 0.05em 0 -0.05em;
    padding: 0.15em; }
  .toki-container[data-toki-size="double"][data-toki-glyph="e"] > * {
    font-size: 0.8em; }
  .toki-container[data-toki-size="double"][data-toki-glyph="e"][data-toki-children="1"] {
    justify-content: center; }
  .toki-container[data-toki-size="double"][data-toki-glyph="e"] + .toki-punctuation {
    margin-top: -0.05em; }
  .toki-container[data-toki-size="double"][data-toki-glyph="e"]::before {
    background-image: url(../images/glyphs/tp-c-e-double.svg); }
.toki-container[data-toki-size="tall"][data-toki-glyph="pi"]::before {
  margin: -0.1em 0 0 -1.15em; }
.toki-container[data-toki-size="tall"][data-toki-glyph="pi"] > * {
  font-size: 0.75em; }
.toki-container[data-toki-size="tall"][data-toki-glyph="pi"]::before {
  background-image: url(../images/glyphs/tp-c-pi-tall.svg);
  padding-right: 1.1em; }

/*# sourceMappingURL=sitelen.css.map */
