/* Boiler Plate */

#tokiInput {
  margin: 1em;
  width: 50em;
  font-size: 1em;
}

#sitelen {
  font-size: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

/* ----- */


.toki-sentence {
  margin: 1em;
  width: 2em;
}

.toki-container {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
}

.toki-sentence > .toki-container:first-child > * {
  font-size: 1em;
}

.toki-sentence > .toki-container:nth-child(1) {
  z-index: 10;
}
.toki-sentence > .toki-container:nth-child(2) {
  z-index: 9;
}
.toki-sentence > .toki-container:nth-child(3) {
  z-index: 8;
}
.toki-sentence > .toki-container:nth-child(4) {
  z-index: 7;
}
.toki-sentence > .toki-container:nth-child(5) {
  z-index: 6;
}
.toki-sentence > .toki-container:nth-child(6) {
  z-index: 5;
}
.toki-sentence > .toki-container:nth-child(7) {
  z-index: 4;
}


.toki-container[data-toki-size="regular"] {

  flex-direction: row;

  & > * {
    width: 1em;
    height: 1em;
  }
}

.toki-container[data-toki-size="wide"] {
  flex-direction: row;
  height: 1em;
  width: 2em;

  &[data-toki-children="1"] {

    & > * {
      flex: 0 0 1em;
      height: 1em;
    }
  }

  &[data-toki-children="2"] {

    & > * {
      flex: 0 0 1em;
      height: 1em;
    }
  }

  &[data-toki-children="3"] {
    height: 2 / 3 * 1em;

    & > * {
      flex: 0 0 2 / 3 * 1em;
      height: 2 / 3 * 1em;
    }
  }
}

.toki-container[data-toki-size="tall"] {
  flex-direction: column;
  height: 2em;

  &[data-toki-children="1"] {
    padding-bottom: 0;

    & > .toki-word {
      flex: 0 0 100%;
      width: 2em;
    }
  }

  &[data-toki-children="2"] {
    padding-bottom: 0.1em;

    & > .toki-word {
      flex: 0 0 50%;
      width: 1em;
    }
  }

  &[data-toki-children="3"] {
    padding-bottom: 0.2em;

    & > .toki-word {
      flex: 0 0 1/3*100%;
      width: 2/3*1em;
    }
  }
}

.toki-container[data-toki-size="double"] {
  flex-direction: column;
  height: 2em;
  width: 2em;

  &[data-toki-children="4"] {
    & > * {
      flex: 0 0 1em;
      width: 1em;
    }
  }

  &[data-toki-children="5"] {
    & > * {
      flex: 1 1 1/3*100%;
      width: 1em;
    }
  }

  &[data-toki-children="6"] {
    & > * {
      flex: 1 1 1/3*100%;
      width: 1em;
    }
  }

  &[data-toki-children="7"],
  &[data-toki-children="8"],
  &[data-toki-children="9"] {
    & > * {
      flex: 1 1 1/3*100%;
      width: 1/3*100%;
    }
  }
}

.toki-word {
  position: relative;
  font-size: 0.875em;

  &::before {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    position: absolute;
    padding: 0.1em;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
  }

  $word-list: ale ali jan jo li ma mi mani moku mute nasa nasin o olin poka sina pana pilin pona kili sijelo sona suli tawa tenpo toki utala suwi wile;
  @each $current-word in $word-list {
    &.toki-#{$current-word}::before {
      background-image: url(../images/wordglyphs/tp-wg-#{$current-word}.svg);
    }
  }

  $syl-list: o a e i;
  @each $current-syl in $syl-list {
    &.toki-syl-#{$current-syl}::before {
      background-image: url(../images/wordglyphs/tp-syl-#{$current-syl}.svg);
    }
  }

  &::after {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    position: absolute;
    padding: 0.1em;
    height: 100%;
    width: 100%;
    content: '';
    top: 50%;
    left: 0;
  }

  $mod-list: lili mute kon sin;
  @each $current-word in $mod-list {
    &.toki-mod-#{$current-word}::after {
      background-image: url(../images/wordglyphs/tp-wg-#{$current-word}.svg);
    }
  }
}

.toki-punctuation {
  position: relative;
  width: 2em;
  height: 0.35em;

  &::before {
    background-size: 100% 100%;
    margin: -0.25em 0 0 -0.25em;
    position: absolute;
    padding: 0.25em;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -2;
    left: 0;
    top: 0;
  }

  &[data-toki-size="wide"].toki-period::before {
    background-image: url(../images/wordglyphs/tp-p-period-wide.svg);
  }
}

.toki-container {
  &::before {
    background-size: 100% 100%;
    margin: -0.1em 0 0 -0.1em;
    z-index: -1;
    position: absolute;
    padding: 0.1em;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
  }

  &[data-toki-size="regular"]::before {
    margin: -0.15em 0 0 -0.15em;
    padding: 0.15em;
  }

  &[data-toki-size="wide"]::before {
    margin: -0.3em 0 0 -0.15em;
    padding: 0.3em 0.15em;
  }

  &.toki-li::before {
    background-image: url(../images/wordglyphs/tp-wg-li.svg);
  }

  &[data-toki-size="wide"].toki-li {
    margin-bottom: 0.2em;
    margin-top: 0.15em;

    & + .toki-punctuation {
      margin-top: -0.2em;
    }

    &::before {
      background-image: url(../images/wordglyphs/tp-wg-li-wide.svg);
    }
  }

  &.toki-tawa::before {
    background-image: url(../images/wordglyphs/tp-wg-tawa.svg);
  }

  &[data-toki-size="wide"].toki-tawa {
    margin-bottom: 0.2em;
    justify-content: flex-start;

    &[data-toki-children="1"] {
      justify-content: center;
    }

    & + .toki-punctuation {
      margin-top: -0.15em;
    }

    &::before {
      background-image: url(../images/wordglyphs/tp-c-tawa-wide.svg);
      padding-right: 0.5em;
    }
  }

  &.toki-e[data-toki-size="regular"]{
    justify-content: flex-start;

    & > * {
      font-size: 0.55em;
    }

    &::before {
      background-image: url(../images/wordglyphs/tp-wg-e.svg);
    }
  }

  &[data-toki-size="wide"].toki-e {
    margin-bottom: 0.2em;
    justify-content: flex-start;

    .toki-container.toki-undefined + & {
      margin-top: 0.15em;
    }

    &[data-toki-children="1"] {
      justify-content: center;
    }

    & + .toki-punctuation {
      margin-top: -0.15em;
    }

    &::before {
      background-image: url(../images/wordglyphs/tp-wg-e-wide.svg);
    }
  }

}